{% extends "base.html" %}
{% load static %}
{% block Head %}
    <link rel="stylesheet" href="{% static 'stylesheet/people/css/profile.min.css' %}">
{% endblock %}
{% block Title %}Profile{% endblock %}
{% block Content %}
    <main>
        <div class="container">
            <div class="row justify-content-center add-row">
                <div class="col-5 add-button">
                    Добавить запись
                </div>
            </div>
            <div class="row profile no-gutters">
                <div class="col-12 col-lg-6 profile-block">
                    <div class="image-block">
                        <img src="{% static 'img/people/profile.png' %}" alt="" class="my-image">
                    </div>
                    <span class="name">Фамилия Имя Отчество И ещё одно</span>
                    <span class="desc">Я отличный человек, а ты как счиаешь</span>
                    <div class="rating">
                        <span>Рейтинг</span>
                        <span class="stars">
                            <span class="stars-empty">
                                <i class="far fa-star star-1"></i>
                                <i class="far fa-star star-2"></i>
                                <i class="far fa-star star-3"></i>
                                <i class="far fa-star star-4"></i>
                                <i class="far fa-star star-5"></i>
                            </span>
                            <span class="stars-full">
                                <span class="star">
                                    <span class="star-1">
                                        <i class="fas fa-star"></i>
                                    </span>
                                </span>
                                <span class="star">
                                    <span class="star-2">
                                    <i class="fas fa-star"></i>
                                    </span>
                                </span>
                                <span class="star">
                                    <span class="star-3">
                                        <i class="fas fa-star"></i>
                                    </span>
                                </span>
                                <span class="star">
                                    <span class="star-4">
                                        <i class="fas fa-star"></i>
                                    </span>
                                </span>
                                <span class="star">
                                    <span class="star-5">
                                        <i class="fas fa-star"></i>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </div>
                    <div class="menu">
                        <i class="fas fa-cog link" title="Настройки" data-link-href="../settings"></i>
                        <i class="fas fa-briefcase" title="Все сделки"></i>
                        <i class="far fa-comments" title="Написать отзыв"></i>
                        <i class="far fa-trash-alt" title="Удалить аккаунт"></i>
                    </div>
                </div>
                <div class="col-6 image">
                    <div class="image-block">
                        <img src="{% static 'img/people/profile.png' %}" alt="" class="my-image">
                    </div>
                </div>
            </div>
        </div>
    </main>
    <section class="nav">
        <hr>
        <div class="container nav-block">
            <span class="active list-btn" data-list-id="articles" data-list-cls="blocks">Объявления</span>
            <span class="list-btn" data-list-id="feedback" data-list-cls="blocks">Отзывы</span>
        </div>
    </section>
    <section class="articles list-open-close" data-list="articles">
        <div class="container">
            <div class="article row no-gutters">
                <div class="col-6 image">
                    <div class="image-block">
                        <img src="{% static 'img/articles/article.png' %}" alt="" class="my-image">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="article-block">
                        <div class="block-top">
                            <span class="date">1 января 2020 16:00</span>
                            <span class="seen">198</span>
                        </div>
                        <h3>Продам учебник, много учебников</h3>
                        <span class="desc">
                            Большое описание, с гигантским количестовом символов.
                            И одним смайликом, думаю он скоро появится
                        </span>
                        <button class="my-button">
                            Подробнее
                        </button>
                        <div class="image-block">
                            <img src="{% static 'img/articles/article.png' %}" alt="" class="my-image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="article row no-gutters">
                <div class="col-6 image">
                    <div class="image-block">
                        <img src="{% static 'img/articles/article.png' %}" alt="" class="my-image">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="article-block">
                        <div class="block-top">
                            <span class="date">1 января 2020 16:00</span>
                            <span class="seen">198</span>
                        </div>
                        <h3>Продам учебник, много учебников</h3>
                        <span class="desc">
                            Большое описание, с гигантским количестовом символов.
                            И одним смайликом, думаю он скоро появится
                        </span>
                        <button class="my-button">
                            Подробнее
                        </button>
                        <div class="image-block">
                            <img src="{% static 'img/articles/article.png' %}" alt="" class="my-image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="article row no-gutters">
                <div class="col-6 image">
                    <div class="image-block">
                        <img src="{% static 'img/articles/article.png' %}" alt="" class="my-image">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="article-block">
                        <div class="block-top">
                            <span class="date">1 января 2020 16:00</span>
                            <span class="seen">198</span>
                        </div>
                        <h3>Продам учебник, много учебников</h3>
                        <span class="desc">
                            Большое описание, с гигантским количестовом символов.
                            И одним смайликом, думаю он скоро появится
                        </span>
                        <button class="my-button">
                            Подробнее
                        </button>
                        <div class="image-block">
                            <img src="{% static 'img/articles/article.png' %}" alt="" class="my-image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-out">
                <button class="my-button">Больше</button>
            </div>
        </div>
    </section>
    <section class="feedback list-open-close" data-list="feedback">
        <div class="container">
            <div class="row feedback-row">
                <div class="col-12 col-lg-6 feedback-col">
                    <div class="feedback-block">
                        <div class="block-top">
                            <span class="date">1 января 2020 16:00</span>
                            <span class="rating">
                            <i class="fas fa-star star-1"></i>
                            <i class="fas fa-star star-2"></i>
                            <i class="fas fa-star star-3"></i>
                            <i class="far fa-star star-4"></i>
                            <i class="far fa-star star-5"></i>
                        </span>
                        </div>
                        <h3>Фио автора отзыва</h3>
                        <span class="desc">
                        Большой, конструктивный отзыв.
                        Но не понятно, была ли сделка, или нет
                    </span>
                        <button class="my-button">
                            Подробнее
                        </button>
                    </div>
                </div>
                <div class="col-12 col-lg-6 feedback-col">
                    <div class="feedback-block">
                        <div class="block-top">
                            <span class="date">1 января 2020 16:00</span>
                            <span class="rating">
                            <i class="fas fa-star star-1"></i>
                            <i class="fas fa-star star-2"></i>
                            <i class="fas fa-star star-3"></i>
                            <i class="far fa-star star-4"></i>
                            <i class="far fa-star star-5"></i>
                        </span>
                        </div>
                        <h3>Фио автора отзыва</h3>
                        <span class="desc">
                        Большой, конструктивный отзыв.
                        Но не понятно, была ли сделка, или нет
                    </span>
                        <button class="my-button">
                            Подробнее
                        </button>
                    </div>
                </div>
                <div class="col-12 col-lg-6 feedback-col">
                    <div class="feedback-block">
                        <div class="block-top">
                            <span class="date">1 января 2020 16:00</span>
                            <span class="rating">
                            <i class="fas fa-star star-1"></i>
                            <i class="fas fa-star star-2"></i>
                            <i class="fas fa-star star-3"></i>
                            <i class="far fa-star star-4"></i>
                            <i class="far fa-star star-5"></i>
                        </span>
                        </div>
                        <h3>Фио автора отзыва</h3>
                        <span class="desc">
                        Большой, конструктивный отзыв.
                        Но не понятно, была ли сделка, или нет
                    </span>
                        <button class="my-button">
                            Подробнее
                        </button>
                    </div>
                </div>
            </div>
            <div class="button-out">
                <button class="my-button">Больше</button>
            </div>
        </div>
    </section>
{% endblock %}
{% block Footer %}
    <script src="{% static 'javascript/people/profile.js' %}"></script>
{% endblock %}
