{% extends "base.html" %}
{% load static %}
{% block Head %}
    <link rel="stylesheet" href="{% static 'stylesheet/people/css/profile.min.css' %}">
{% endblock %}
{% block Title %}Profile{% endblock %}
{% block Content %}
    <main>
        <div class="container">
            <div class="row justify-content-center add-row">
                <div class="col-5 add-button">
                    Добавить запись
                </div>
            </div>
            <div class="row profile no-gutters">
                <div class="col-12 col-lg-6 profile-block">
                    <div class="image-block">
                    {% if user.profile.image %}
                        <img src="/image/{{ user.profile.image }}" alt="" class="my-image">
                    {% else %}
                        <img src="{% static 'img/people/user.jpg' %}" alt="" class="my-image">
                    {% endif %}
                    </div>
                    <span class="name">
                    {% if owner.is_active %}
                        {{ owner.profile.surname }} {{ owner.profile.name }} {{ owner.profile.middle_name }}
                    {% else %}
                        Пользователя ещё нет
                    {% endif %}
                    </span>
                    <span class="desc">
                    {% if owner.is_active %}
                        {{ owner.profile.about }}
                    {% else %}
                        Надеемся он скоро прибудет <i class="fas fa-subway"></i>
                    {% endif %}
                    </span>
                    <div class="rating">
                        <span>Рейтинг</span>
                        <span class="stars">
                            <span class="stars-empty">
                                <i class="far fa-star star-1"></i>
                                <i class="far fa-star star-2"></i>
                                <i class="far fa-star star-3"></i>
                                <i class="far fa-star star-4"></i>
                                <i class="far fa-star star-5"></i>
                            </span>
                            <span class="stars-full">
                                <span class="star">
                                    <span class="star-1">
                                        <i class="fas fa-star"></i>
                                    </span>
                                </span>
                                <span class="star">
                                    <span class="star-2">
                                    <i class="fas fa-star"></i>
                                    </span>
                                </span>
                                <span class="star">
                                    <span class="star-3">
                                        <i class="fas fa-star"></i>
                                    </span>
                                </span>
                                <span class="star">
                                    <span class="star-4">
                                        <i class="fas fa-star"></i>
                                    </span>
                                </span>
                                <span class="star">
                                    <span class="star-5">
                                        <i class="fas fa-star"></i>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </div>
                    <div class="menu">
                    {% if is_owner %}
                        <i class="fas fa-cog link" title="Настройки"
                           data-link-href="../settings"></i>
                    {% endif %}
                        <i class="fas fa-briefcase"
                           title="{% if is_owner %}Все сделки{% else %}Сделки с этим пользователем{% endif %}"></i>
                    {% if not is_owner %}
                        <i class="far fa-comments" title="Написать отзыв"></i>
                    {% else %}
                        <i class="fas fa-sign-out-alt logout" title="Выйти"
                           data-link-href="/auth/logout"></i>
                        <i class="far fa-trash-alt delete" title="Удалить аккаунт"></i>
                    {% endif %}
                    </div>
                </div>
                <div class="col-6 image">
                    <div class="image-block">
                    {% if user.profile.image %}
                        <img src="/image/{{ user.profile.image }}" alt="" class="my-image">
                    {% else %}
                        <img src="{% static 'img/people/user.jpg' %}" alt="" class="my-image">
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>
    <section class="nav">
        <hr>
        <div class="container nav-block">
            <span class="active list-btn" data-list-id="articles" data-list-cls="blocks">Объявления</span>
            <span class="list-btn" data-list-id="feedback" data-list-cls="blocks">Отзывы</span>
        </div>
    </section>
    <section class="articles list-open-close" data-list="articles">
        <div class="container">
        {% for article in articles %}
            <div class="article row no-gutters">
                <div class="col-6 image">
                    <div class="image-block">
                    {% for image in article.images.all %}
                    {% if forloop.counter0 == article.avatar %}
                        <img src="/image/{{ image.id }}" alt="" class="my-image">
                    {% endif %}
                    {% endfor %}
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="article-block">
                        <div class="block-top">
                            <span class="date">{{ article.date }}</span>
                            <span class="seen">{{ article.seen }}</span>
                        </div>
                        <h3>{{ article.title }}</h3>
                        <span class="desc">
                            {{ article.description | truncatechars:350}}
                        </span>
                        <button class="my-button link"
                                data-link-href="/articles/{{ article.id }}">
                            Подробнее
                        </button>
                        <div class="image-block">
                        {% for image in article.images.all %}
                        {% if forloop.counter0 == article.avatar %}
                            <img src="/image/{{ image.id }}" alt="" class="my-image">
                        {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="row nothing">
                <span class="nothing-text">
                    Ничего не найдено
                </span>
            </div>
        {% endfor %}
        </div>
    </section>
    <section class="feedback list-open-close" data-list="feedback">
        <div class="container">
            <div class="row feedback-row">
            {% for feedback in feedbacks %}
                <div class="col-12 col-lg-6 feedback-col">
                    <div class="feedback-block">
                        <div class="block-top">
                            <span class="date">{{ feedback.date }}</span>
                            <span class="rating">
                            <i class="fas fa-star star-1"></i>
                            <i class="fas fa-star star-2"></i>
                            <i class="fas fa-star star-3"></i>
                            <i class="far fa-star star-4"></i>
                            <i class="far fa-star star-5"></i>
                        </span>
                        </div>
                        <h3>{{ feedback.title }}</h3>
                        <span class="desc">
                            {{ article.description | truncatechars:350}}
                        </span>
                    </div>
                </div>
            {% empty %}
                <div class="nothing col-12">
                    <span class="nothing-text">
                        Ничего не найдено
                    </span>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
    {% csrf_token %}
{% endblock %}
{% block Footer %}
    <script src="{% static 'javascript/people/profile.js' %}"></script>
{% endblock %}
{% block Popup %}
    <span class="question">Вы уверены что хотите сделать это?</span>
    <div class="button-out button-right">
        <button class="my-button no">Нет, конечно</button>
    </div>
    <div class="button-out button-left">
        <button class="my-button yes">Да, уверен</button>
    </div>
{% endblock %}
