{% extends "base.html" %}
{% load static %}
{% block Head %}
    <link rel="stylesheet" href="{% static 'stylesheet/people/css/settings.min.css' %}">
{% endblock %}
{% block Title %}Settings{% endblock %}
{% block Content %}
    <main>
        <div class="container">
            <div class="row">
                <div class="message col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                    <span>
                        Проверьте правильно ли заполнены поля
                    </span>
                </div>
            </div>
            <div class="row profile no-gutters">
                <form class="col-12 col-lg-6 profile-block"
                      action="/user/{{ user.id }}/"
                      method="POST">
                    {% csrf_token %}
                    <div class="main">
                        <div class="image-block">
                            <img src="{% static 'img/people/profile.png' %}" alt="" class="my-image">
                        </div>
                        <label>
                            Фамилия:
                            {{ form.surname }}
                            <!--<input type="text" placeholder="Моя фамилия">-->
                        </label>
                        <label>
                            Имя:
                            {{ form.name }}
                            <!--<input type="text" placeholder="Моё имя">-->
                        </label>
                        <label>
                            Отчество:
                            {{ form.middle_name }}
                            <!--<input type="text" placeholder="Моё отчество">-->
                        </label>
                        <label>
                            Обо мне:
                            {{ form.about }}
                            <!--<textarea placeholder="Пару слов"></textarea>-->
                        </label>
                    </div>
                    <div class="connect">
                        <div class="nav">
                            <hr>
                            <span class="title">Связь</span>
                        </div>
                        <label class="email">
                            <i class="far fa-check-circle accept status"
                               title="Подтверждён"
                            {% if not email %}
                                style="display: none"
                            {% endif %}
                            ></i>
                            <i class="far fa-times-circle times status"
                               title="Не подтверждён"
                           {% if email %}
                                style="display: none"
                            {% endif %}
                            ></i>
                            <i class="far fa-stop-circle edit status"
                                title="Изменён"
                            ></i>
                            E-mail:
                            {{ form.email }}
                            <!--<input type="text" placeholder="Мой email">-->
                        </label>
                        <label>
                            Телефон:
                            {{ form.phone }}
                        </label>
                    </div>
                    <div class="social">
                        <div class="nav">
                            <hr>
                            <span class="title">Аккаунты</span>
                        </div>
                        <div class="icons">
                            <i class="fa fa-vk"></i>
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-google"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fab fa-yandex"></i>
                            <i class="fa fa-odnoklassniki"></i>
                        </div>
                    </div>
                    <div class="password">
                        <div class="nav">
                            <hr>
                            <span class="title">Пароль</span>
                        </div>
                        <label>
                            Новый пароль:
                            {{ form.password }}
                            <!--<input type="text" placeholder="Мой email">-->
                        </label>
                        <label>
                            Повтори пароль:
                            {{ form.password_again }}
                        </label>
                    </div>
                    <div class="button-out">
                        <button class="my-button">Сохранить</button>
                    </div>
                    {{ form.image }}
                </form>
                <div class="col-6 image">
                    <div class="image-block">
                        <img src="{% static 'img/people/profile.png' %}" alt="" class="my-image">
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block Footer %}
    <script>
        let emailAccept = {% if email %}true{% else %}false{% endif %} ;
        let emailBase = "{{ form.email.value }}";
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="{% static 'javascript/people/settings.js' %}"></script>
{% endblock %}