{% extends "base.html" %}
{% load static %}
{% block Head %}
    <link rel="stylesheet" href="{% static 'stylesheet/people/css/settings.min.css' %}">
{% endblock %}
{% block Title %}Settings{% endblock %}
{% block Content %}
    <main>
        <div class="container">
            <div class="row profile no-gutters">
                <form class="col-12 col-lg-6 profile-block">
                    <div class="main">
                        <div class="image-block">
                            <img src="{% static 'img/people/profile.png' %}" alt="" class="my-image">
                        </div>
                        <label>
                            Фамилия:
                            {{ form.surname }}
                            <!--<input type="text" placeholder="Моя фамилия">-->
                        </label>
                        <label>
                            Имя:
                            {{ form.name }}
                            <!--<input type="text" placeholder="Моё имя">-->
                        </label>
                        <label>
                            Отчество:
                            {{ form.middle_name }}
                            <!--<input type="text" placeholder="Моё отчество">-->
                        </label>
                        <label>
                            Обо мне:
                            {{ form.about }}
                            <!--<textarea placeholder="Пару слов"></textarea>-->
                        </label>
                    </div>
                    <div class="connect">
                        <div class="nav">
                            <hr>
                            <span class="title">Связь</span>
                        </div>
                        <label>
                            E-mail:
                            {{ form.email }}
                            <!--<input type="text" placeholder="Мой email">-->
                        </label>
                        <label>
                            Телефон:

                            <input type="text" placeholder="Мой телефон" class="phone">
                        </label>
                    </div>
                    <div class="social">
                        <div class="nav">
                            <hr>
                            <span class="title">Аккаунты</span>
                        </div>
                        <div class="icons">
                            <i class="fa fa-vk"></i>
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-google"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fab fa-yandex"></i>
                            <i class="fa fa-odnoklassniki"></i>
                        </div>
                    </div>
                    <div class="button-out">
                        <button class="my-button">Сохранить</button>
                    </div>
                </form>
                <div class="col-6 image">
                    <div class="image-block">
                        <img src="{% static 'img/people/profile.png' %}" alt="" class="my-image">
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block Footer %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="{% static 'javascript/people/settings.js' %}"></script>
{% endblock %}