{% extends "base.html" %}
{% load static %}
{% block Head %}
    <link rel="stylesheet"
          href="{% static 'stylesheet/articles/css/article.min.css' %}">
{% endblock %}
{% block Title %}Article{% endblock %}
{% block Content %}
    <main>
        <div class="container">
            <div class="row justify-content-center add-row">
                <div class="col-5 add-button">
                    Добавить запись
                </div>
            </div>
            <div class="row">
                <div class="menu offset-1 col-10">
                    {% if is_owner %}
                        <i class="fas fa-pen link" title="Изменить запись" data-link-href="/articles/edit/"></i>
                    {% endif %}
                    <i class="fas fa-hands-helping" title="Заключить сделку"></i>
                    {% if not is_owner %}
                        <i class="far fa-comments" title="Написать отзыв"></i>
                    {% else %}
                        <i class="far fa-trash-alt" title="Удалить запись"></i>
                    {% endif %}
                </div>
            </div>
            <label class="row title">
                <span class="offset-1 col-10 offset-lg-1 col-lg-2">Заголовок:</span>
                <input type="text" class="offset-2 col-9 offset-lg-0 col-lg-8"
                value="{{ article.tittle }}"
                readonly>
            </label>
            <div class="row subject offset-1 col-10">
                <span class="tag">Русский язык</span>
                <span class="tag">Английский язык</span>
                <span class="tag">Математика</span>
                <span class="tag">Химия</span>
                <span class="tag">Биология</span>
            </div>
            <div class="row classroom offset-1 col-10">
                <span class="tag">1 класс</span>
                <span class="tag">2 класс</span>
                <span class="tag">3 класс</span>
                <span class="tag">4 класс</span>
                <span class="tag">5 класс</span>
                <span class="tag">6 класс</span>
                <span class="tag">7 класс</span>
                <span class="tag">8 класс</span>
                <span class="tag">9 класс</span>
                <span class="tag">10 класс</span>
                <span class="tag">11 класс</span>
            </div>
        </div>
    </main>
    <section class="images">
        <div class="nav">
            <hr>
            <div class="container nav-block">
                <span>Изображение</span>
            </div>
        </div>
        <div class="container">
            <div class="row offset-1 col-10 images-slick">
                <div class="image-wrap">
                    <div class="image">
                        <div class="image-block">
                            <img src="{% static 'img/articles/book1.png' %}"
                                 alt="" class="my-image">
                        </div>
                    </div>
                </div>
                <div class="image-wrap">
                    <div class="image">
                        <div class="image-block">
                            <img src="{% static 'img/articles/book2.png' %}"
                                 alt="" class="my-image">
                        </div>
                    </div>
                </div>
                <div class="image-wrap">
                    <div class="image">
                        <div class="image-block">
                            <img src="{% static 'img/articles/book3.png' %}"
                                 alt="" class="my-image">
                        </div>
                    </div>
                </div>
                <div class="image-wrap">
                    <div class="image">
                        <div class="image-block">
                            <img src="{% static 'img/articles/article.png' %}"
                                 alt="" class="my-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="desc">
        <div class="nav">
            <hr>
            <div class="container nav-block">
                <span>Описание</span>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <label class="col-12 offset-lg-1 col-lg-10">
                    <textarea readonly>{{ article.description }}</textarea>
                </label>
            </div>
            <div class="row">
                <div class="col-12 offset-lg-1 col-lg-5 cost">
                    <label class="name" for="id_cost">Цена</label>
                    <input type="text" id="id_cost"
                           value="{{ article.price }}"
                           readonly>
                    <span class="currency">руб.</span>
                </div>
                <label class="col-12 offset-lg-1 col-lg-5 condition">
                    <span class="name">Состояние</span>
                    <input type="text" value="{{ article.condition }}" readonly>
                </label>
            </div>
        </div>
    </section>
    <section class="author">
        <div class="nav">
            <hr>
            <div class="container nav-block">
                <span>Автор</span>
            </div>
        </div>
        <div class="container author-block">
            <div class="row">
                <div class="offset-1 col-10">
                    <div class="row base">
                        <div class="col-6 col-lg-3 phone icon">
                            <i class="fas fa-phone-alt"></i>
                            <span>Телефон</span>
                        </div>
                        <div class="col-6 col-lg-3 email icon">
                            <i class="fas fa-at"></i>
                            <span>E-mail</span>
                        </div>
                    </div>
                    <span class="blur">Найдите меня в ...</span>
                    <div class="row">
                        <div class="col-6 col-lg-3 vk icon">
                            <i class="fab fa-vk"></i>
                            <a>Вконтакте</a>
                        </div>
                        <div class="col-6 col-lg-3 facebook icon">
                            <i class="fa fa-facebook"></i>
                            <a>Facebook</a>
                        </div>
                        <div class="col-6 col-lg-3 twitter icon">
                            <i class="fab fa-twitter"></i>
                            <a>Twitter</a>
                        </div>
                        <div class="col-7 col-lg-3 odnoklassniki icon">
                            <i class="fab fa-odnoklassniki"></i>
                            <a>Одноклассники</a>
                        </div>
                    </div>
                    <span class="blur">Или пишите в ...</span>
                    <div class="row">
                        <div class="col-6 col-lg-3 telegram icon">
                            <i class="fab fa-telegram-plane"></i>
                            <span>Telegram</span>
                        </div>
                        <div class="col-6 col-lg-3 whatsapp icon">
                            <i class="fab fa-whatsapp"></i>
                            <span>WhatsApp</span>
                        </div>
                        <div class="col-6 col-lg-3 viber icon">
                            <i class="fab fa-viber"></i>
                            <span>Viber</span>
                        </div>
                    </div>
                    <span class="blur">
                        Самое главное
                    </span>
                    <div class="row">
                        <div class="col-12 col-lg-6 name icon">
                            <i class="far fa-address-card"></i>
                            <a href="">
                                {{ article.author.profile.surname }}
                                {{ article.author.profile.name }}
                                {{ article.author.profile.middle_name }}
                            </a>
                        </div>
                        <div class="col-12 col-lg-6 date icon">
                            <i class="far fa-clock"></i>
                            <span>{{ article.date }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block Footer %}
    <script src="{% static 'javascript/articles/article.js' %}"></script>
{% endblock %}
