{% extends "base.html" %}
{% load static %}
{% block Head %}
    <link rel="stylesheet"
          href="{% static 'stylesheet/articles/css/search.min.css' %}">
{% endblock %}
{% block Title %}Search{% endblock %}
{% block Content %}
    <main>
        <div class="container">
            <div class="row quote">
                <span class="col-12 offset-md-1 col-md-10 quote-block">
                    {{ quote.text }}
                </span>
                <span class="quote-author">
                    {{ quote.author }}
                </span>
            </div>
            <div class="row justify-content-center add-row">
                <div class="col-5 add-button">
                    Добавить запись
                </div>
            </div>
            <form action="" method="GET" class="search-form">
                {% csrf_token %}
                <label class="row search no-gutters">
                <span class="col-9 offset-md-1 box box-input">
                    {{ form.search }}
                </span>
                    <span class="col-3 col-md-2 box">
                    <button class="my-button"
                            title="Да наступит поиск" type="submit">Найти</button>
                </span>
                </label>
                {{ form.tags }}
                {{ form.firstArticle }}
            </form>
            <div class="row tags">
                <div class="subject offset-1 col-10">
                {% for subject in subjects %}
                    <span class="tag" title="Добавить тег к поиску"
                    data-tag-id="{{ subject.id }}">
                        {{ subject.value }}
                    </span>
                {% endfor %}
                </div>
            </div>
            <div class="row tags">
                <div class="classroom offset-1 col-10">
                {% for classroom in classrooms %}
                    <span class="tag" title="Добавить тег к поиску"
                    data-tag-id="{{ classroom.id }}">
                        {{ classroom.value }}
                    </span>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="scroll">
            <span class="mouse">
                <span class="mouse-point"></span>
            </span>
            <p class="res">results</p>
        </div>
    </main>
    <section class="articles">
        <div class="container">
            <div class="button-out">
                <button class="my-button articles-button">Больше</button>
            </div>
            <div class="row nothing">
                <span class="nothing-text">
                    Ничего не найдено
                </span>
            </div>
        </div>
    </section>
{% endblock %}
{% block Footer %}
    <script src="{% static 'javascript/articles/search.js' %}"></script>
{% endblock %}
