{% extends "base.html" %}
{% load static %}
{% block Head %}
    <link rel="stylesheet" href="{% static 'stylesheet/articles/css/search.min.css' %}">
{% endblock %}
{% block Title %}Search{% endblock %}
{% block Content %}
    <main>
        <div class="container">
            <div class="row quote">
                <span class="col-12 offset-md-1 col-md-10 quote-block">
                    {{ quote.text }}
                </span>
                <span class="quote-author">
                    {{ quote.author }}
                </span>
            </div>
            <div class="row justify-content-center add-row">
                <div class="col-5 add-button">
                    Добавить запись
                </div>
            </div>
            <label class="row search no-gutters">
                <span class="col-9 offset-md-1 box box-input">
                    <input type="text">
                </span>
                <span class="col-3 col-md-2 box">
                    <button class="my-button" title="Да наступит поиск">Найти</button>
                </span>
            </label>
            <div class="row">
                <div class="subject offset-1 col-10">
                    <span class="tag" title="Добавить тег к поиску">Русский язык</span>
                    <span class="tag" title="Добавить тег к поиску">Английский язык</span>
                    <span class="tag" title="Добавить тег к поиску">Математика</span>
                    <span class="tag" title="Добавить тег к поиску">Химия</span>
                    <span class="tag" title="Добавить тег к поиску">Биология</span>
                </div>
            </div>
            <div class="row">
                <div class="classroom offset-1 col-10">
                    <span class="tag" title="Добавить тег к поиску">1 класс</span>
                    <span class="tag" title="Добавить тег к поиску">2 класс</span>
                    <span class="tag" title="Добавить тег к поиску">3 класс</span>
                    <span class="tag" title="Добавить тег к поиску">4 класс</span>
                    <span class="tag" title="Добавить тег к поиску">5 класс</span>
                    <span class="tag" title="Добавить тег к поиску">6 класс</span>
                    <span class="tag" title="Добавить тег к поиску">7 класс</span>
                    <span class="tag" title="Добавить тег к поиску">8 класс</span>
                    <span class="tag" title="Добавить тег к поиску">9 класс</span>
                    <span class="tag" title="Добавить тег к поиску">10 класс</span>
                    <span class="tag" title="Добавить тег к поиску">11 класс</span>
                </div>
            </div>
        </div>
        <div class="scroll">
            <span class="mouse">
                <span class="mouse-point"></span>
            </span>
            <p class="res">results</p>
        </div>
    </main>
    <section class="articles">
        <div class="container">
            <div class="article row no-gutters">
                <div class="col-6 image">
                    <div class="image-block">
                        <img src="{% static 'img/articles/article.png' %}" alt="" class="my-image">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="article-block">
                        <div class="block-top">
                            <span class="date">1 января 2020 16:00</span>
                            <span class="seen">198</span>
                        </div>
                        <h3>Продам учебник, много учебников</h3>
                        <span class="desc">
                            Большое описание, с гигантским количестовом символов.
                            И одним смайликом, думаю он скоро появится
                        </span>
                        <button class="my-button link" data-link-href="/articles/article">
                            Подробнее
                        </button>
                        <br>
                        <div class="image-block">
                            <img src="{% static 'img/articles/article.png' %}" alt="" class="my-image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="article row no-gutters">
                <div class="col-6 image">
                    <div class="image-block">
                        <img src="{% static 'img/articles/article.png' %}" alt="" class="my-image">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="article-block">
                        <div class="block-top">
                            <span class="date">1 января 2020 16:00</span>
                            <span class="seen">198</span>
                        </div>
                        <h3>Продам учебник, много учебников</h3>
                        <span class="desc">
                            Большое описание, с гигантским количестовом символов.
                            И одним смайликом, думаю он скоро появится
                        </span>
                        <button class="my-button">
                            Подробнее
                        </button>
                        <div class="image-block">
                            <img src="{% static 'img/articles/article.png' %}" alt="" class="my-image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="article row no-gutters">
                <div class="col-6 image">
                    <div class="image-block">
                        <img src="{% static 'img/articles/article.png' %}" alt="" class="my-image">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="article-block">
                        <div class="block-top">
                            <span class="date">1 января 2020 16:00</span>
                            <span class="seen">198</span>
                        </div>
                        <h3>Продам учебник, много учебников</h3>
                        <span class="desc">
                            Большое описание, с гигантским количестовом символов.
                            И одним смайликом, думаю он скоро появится
                        </span>
                        <button class="my-button">
                            Подробнее
                        </button>
                        <div class="image-block">
                            <img src="{% static 'img/articles/article.png' %}" alt="" class="my-image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-out">
                <button class="my-button">Больше</button>
            </div>
        </div>
    </section>
{% endblock %}
{% block Footer %}
    <script src="{% static 'javascript/articles/search.js' %}"></script>
{% endblock %}
