{% extends "base.html" %}
{% load static %}
{% block Head %}
    <link rel="stylesheet" href="{% static 'stylesheet/auth/css/auth.min.css' %}">
{% endblock %}
{% block Title %}Sign Up{% endblock %}
{% block Content %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-5 pre-auth">
                    <span>
                        Рады, что вы решили
                        присоединиться к нам
                    </span>
                    <div class="icon">
                        <img src="{% static 'img/auth/book.png' %}" alt="">
                    </div>
                </div>
                <div class="col-1 line">
                    <hr>
                </div>
                <div class="col-12 col-md-7 col-lg-6 auth">
                <span class="title">
                    Регистрация
                </span>
                    <form action="/auth" method="POST">
                        {% csrf_token %}
                        {{ form.email }}
                        <span class="blur">
                            Регистрируясь, вы соглашаетесь
                            с нашей <a href="">Политикой конфиденциальности</a>
                        </span>
                        <button class="my-button">Зарегистрироваться</button>
                    </form>
                    <div class="social">
                        <i class="fa fa-vk" title="Зарегистрироваться с помощью ВКонтакте"></i>
                        <i class="fa fa-facebook" title="Зарегистрироваться с помощью Facebook"></i>
                        <i class="fa fa-google" title="Зарегистрироваться с помощью Google+"></i>
                        <i class="fa fa-twitter" title="Зарегистрироваться с помощью Twitter"></i>
                        <i class="fab fa-yandex" title="Зарегистрироваться с помощью Яндекса"></i>
                        <i class="fa fa-odnoklassniki" title="Зарегистрироваться с помощью Одноклассников"></i>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}