<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- slick -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- static -->
    <link rel="stylesheet" href="../static/stylesheet/auth/css/article.min.css">
    <title>Article | Book.Share</title>
</head>
<body>
    <header>
        <div class="header-back"></div>
        <div class="container">
            <div class="row">
                <div class="col-5 col-sm-4 offset-lg-1 col-lg-3">
                    <img src="../static/img/logo.png" alt="" class="logo my-image">
                </div>
                <div class="offset-md-1 col-md-4 offset-lg-2 col-lg-3 offset-xl-4 col-xl-2 add">
                    <a href="">Добавить запись</a>
                </div>
                <div class="offset-2 col-5 offset-sm-4 col-sm-4 offset-md-0 col-md-3 col-xl-2">
                    <span>
                        <a href="">
                            Log in
                        </a>
                        |
                        <a href="">
                            Sign up
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row justify-content-center add-row">
                <div class="col-5 add-button">
                    Добавить запись
                </div>
            </div>
            <div class="row">
                <div class="menu offset-1 col-10">
                    <i class="fas fa-pen" title="Изменить запись"></i>
                    <i class="fas fa-hands-helping" title="Заключить сделку"></i>
                    <i class="far fa-comments" title="Написать отзыв"></i>
                    <i class="far fa-trash-alt" title="Удалить запись"></i>
                </div>
            </div>
            <label class="row title">
                <span class="offset-1 col-10 offset-lg-1 col-lg-2">Заголовок:</span>
                <input type="text" class="offset-2 col-9 offset-lg-0 col-lg-8">
            </label>
            <div class="row subject offset-1 col-10">
                <span class="tag">Русский язык</span>
                <span class="tag">Английский язык</span>
                <span class="tag">Математика</span>
                <span class="tag">Химия</span>
                <span class="tag">Биология</span>
            </div>
            <div class="row classroom offset-1 col-10">
                <span class="tag">1 класс</span>
                <span class="tag">2 класс</span>
                <span class="tag">3 класс</span>
                <span class="tag">4 класс</span>
                <span class="tag">5 класс</span>
                <span class="tag">6 класс</span>
                <span class="tag">7 класс</span>
                <span class="tag">8 класс</span>
                <span class="tag">9 класс</span>
                <span class="tag">10 класс</span>
                <span class="tag">11 класс</span>
            </div>
        </div>
    </main>
    <section class="images">
        <div class="nav">
            <hr>
            <div class="container nav-block">
                <span>Изображение</span>
            </div>
        </div>
        <div class="container">
            <div class="row offset-1 col-10 images-slick">
                <div class="image-wrap">
                    <div class="image">
                        <div class="image-block">
                            <img src="../static/img/book1.png" alt="" class="my-image">
                        </div>
                    </div>
                </div>
                <div class="image-wrap">
                    <div class="image">
                        <div class="image-block">
                            <img src="../static/img/book2.png" alt="" class="my-image">
                        </div>
                    </div>
                </div>
                <div class="image-wrap">
                    <div class="image">
                        <div class="image-block">
                            <img src="../static/img/book3.png" alt="" class="my-image">
                        </div>
                    </div>
                </div>
                <div class="image-wrap">
                    <div class="image">
                        <div class="image-block">
                            <img src="../static/img/article.png" alt="" class="my-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="desc">
        <div class="nav">
            <hr>
            <div class="container nav-block">
                <span>Описание</span>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <label class="col-12 offset-lg-1 col-lg-10">
                    <textarea></textarea>
                </label>
            </div>
            <div class="row">
                <div class="col-12 offset-lg-1 col-lg-5 cost">
                    <label class="name" for="costid">Цена</label>
                    <input type="text" id="costid">
                    <span class="currency">руб.</span>
                </div>
                <label class="col-12 offset-lg-1 col-lg-5 condition">
                    <span class="name">Состояние</span>
                    <input type="text">
                </label>
            </div>
        </div>
    </section>
    <section class="author">
        <div class="nav">
            <hr>
            <div class="container nav-block">
                <span>Автор</span>
            </div>
        </div>
        <div class="container author-block">
            <div class="row">
                <div class="offset-1 col-10">
                    <div class="row base">
                        <div class="col-6 col-lg-3 phone icon">
                            <i class="fas fa-phone-alt"></i>
                            <span>Телефон</span>
                        </div>
                        <div class="col-6 col-lg-3 email icon">
                            <i class="fas fa-at"></i>
                            <span>E-mail</span>
                        </div>
                    </div>
                    <span class="blur">Найдите меня в ...</span>
                    <div class="row">
                        <div class="col-6 col-lg-3 vk icon">
                            <i class="fab fa-vk"></i>
                            <a>Вконтакте</a>
                        </div>
                        <div class="col-6 col-lg-3 facebook icon">
                            <i class="fa fa-facebook"></i>
                            <a>Facebook</a>
                        </div>
                        <div class="col-6 col-lg-3 twitter icon">
                            <i class="fab fa-twitter"></i>
                            <a>Twitter</a>
                        </div>
                        <div class="col-7 col-lg-3 odnoklassniki icon">
                            <i class="fab fa-odnoklassniki"></i>
                            <a>Одноклассники</a>
                        </div>
                    </div>
                    <span class="blur">Или пишите в ...</span>
                    <div class="row">
                        <div class="col-6 col-lg-3 telegram icon">
                            <i class="fab fa-telegram-plane"></i>
                            <span>Telegram</span>
                        </div>
                        <div class="col-6 col-lg-3 whatsapp icon">
                            <i class="fab fa-whatsapp"></i>
                            <span>WhatsApp</span>
                        </div>
                        <div class="col-6 col-lg-3 viber icon">
                            <i class="fab fa-viber"></i>
                            <span>Viber</span>
                        </div>
                    </div>
                    <span class="blur">
                        Самое главное
                    </span>
                    <div class="row">
                        <div class="col-12 col-lg-6 name icon">
                            <i class="far fa-address-card"></i>
                            <a href="">Фамилия Имя Отчество</a>
                        </div>
                        <div class="col-12 col-lg-6 date icon">
                            <i class="far fa-clock"></i>
                            <span>1 января 2020 16:00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer></footer>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Slick -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/3b144c854e.js" crossorigin="anonymous"></script>
    <script>
        $(".subject").slick({
            dots: false,
            infinite: false,
            speed: 300,
            slidesToShow: 1,
            variableWidth: true,
            adaptiveHeight: true
        });
        $(".classroom").slick({
            dots: false,
            infinite: false,
            speed: 300,
            slidesToShow: 1,
            variableWidth: true,
            adaptiveHeight: true
        });
        $(".images-slick").slick({
            dots: true,
            infinite: false,
            speed: 300,
            slidesToShow: 1,
            variableWidth: true,
            adaptiveHeight: true
        });
    </script>
</body>
</html>