<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- slick -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- static -->
    <link rel="stylesheet" href="../static/stylesheet/auth/css/search.min.css">
    <title>Main | Book.Share</title>
</head>
<body>
    <header>
        <div class="header-back"></div>
        <div class="container">
            <div class="row">
                <div class="col-5 col-sm-4 offset-lg-1 col-lg-3">
                    <img src="../static/img/logo.png" alt="" class="logo my-image">
                </div>
                <div class="offset-md-1 col-md-4 offset-lg-2 col-lg-3 offset-xl-4 col-xl-2 add">
                    <a href="">Добавить запись</a>
                </div>
                <div class="offset-2 col-5 offset-sm-4 col-sm-4 offset-md-0 col-md-3 col-xl-2">
                    <span>
                        <a href="">
                            Log in
                        </a>
                        |
                        <a href="">
                            Sign up
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row quote">
                <span class="col-12 offset-md-1 col-md-10 quote-block">
                Не имеет значения, что думают другие – поскольку они в
                любом случае что-нибудь подумают. Так что расслабься.
            </span>
                <span class="quote-author">Пауло Коэльо. Мактуб</span>
            </div>
            <div class="row justify-content-center add-row">
                <div class="col-5 add-button">
                    Добавить запись
                </div>
            </div>
            <label class="row search no-gutters">
                <span class="col-9 offset-md-1 box box-input">
                    <input type="text">
                </span>
                <span class="col-3 col-md-2 box">
                    <button class="my-button" title="Да наступит поиск">Найти</button>
                </span>
            </label>
            <div class="row">
                <div class="subject offset-1 col-10">
                    <span class="tag" title="Добавить тег к поиску">Русский язык</span>
                    <span class="tag" title="Добавить тег к поиску">Английский язык</span>
                    <span class="tag" title="Добавить тег к поиску">Математика</span>
                    <span class="tag" title="Добавить тег к поиску">Химия</span>
                    <span class="tag" title="Добавить тег к поиску">Биология</span>
                </div>
            </div>
            <div class="row">
                <div class="classroom offset-1 col-10">
                    <span class="tag" title="Добавить тег к поиску">1 класс</span>
                    <span class="tag" title="Добавить тег к поиску">2 класс</span>
                    <span class="tag" title="Добавить тег к поиску">3 класс</span>
                    <span class="tag" title="Добавить тег к поиску">4 класс</span>
                    <span class="tag" title="Добавить тег к поиску">5 класс</span>
                    <span class="tag" title="Добавить тег к поиску">6 класс</span>
                    <span class="tag" title="Добавить тег к поиску">7 класс</span>
                    <span class="tag" title="Добавить тег к поиску">8 класс</span>
                    <span class="tag" title="Добавить тег к поиску">9 класс</span>
                    <span class="tag" title="Добавить тег к поиску">10 класс</span>
                    <span class="tag" title="Добавить тег к поиску">11 класс</span>
                </div>
            </div>
        </div>
        <div class="scroll">
            <span class="mouse">
                <span class="mouse-point"></span>
            </span>
            <p class="res">results</p>
        </div>
    </main>
    <section class="articles">
        <div class="container">
            <div class="article row no-gutters">
                <div class="col-6 image">
                    <div class="image-block">
                        <img src="../static/img/article.png" alt="" class="my-image">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="article-block">
                        <div class="block-top">
                            <span class="date">1 января 2020 16:00</span>
                            <span class="seen">198</span>
                        </div>
                        <h3>Продам учебник, много учебников</h3>
                        <span class="desc">
                            Большое описание, с гигантским количестовом символов.
                            И одним смайликом, думаю он скоро появится
                        </span>
                        <button class="my-button">
                            Подробнее
                        </button>
                        <br>
                        <div class="image-block">
                            <img src="../static/img/article.png" alt="" class="my-image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="article row no-gutters">
                <div class="col-6 image">
                    <div class="image-block">
                        <img src="../static/img/article.png" alt="" class="my-image">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="article-block">
                        <div class="block-top">
                            <span class="date">1 января 2020 16:00</span>
                            <span class="seen">198</span>
                        </div>
                        <h3>Продам учебник, много учебников</h3>
                        <span class="desc">
                            Большое описание, с гигантским количестовом символов.
                            И одним смайликом, думаю он скоро появится
                        </span>
                        <button class="my-button">
                            Подробнее
                        </button>
                        <div class="image-block">
                            <img src="../static/img/article.png" alt="" class="my-image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="article row no-gutters">
                <div class="col-6 image">
                    <div class="image-block">
                        <img src="../static/img/article.png" alt="" class="my-image">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="article-block">
                        <div class="block-top">
                            <span class="date">1 января 2020 16:00</span>
                            <span class="seen">198</span>
                        </div>
                        <h3>Продам учебник, много учебников</h3>
                        <span class="desc">
                            Большое описание, с гигантским количестовом символов.
                            И одним смайликом, думаю он скоро появится
                        </span>
                        <button class="my-button">
                            Подробнее
                        </button>
                        <div class="image-block">
                            <img src="../static/img/article.png" alt="" class="my-image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-out">
                <button class="my-button">Больше</button>
            </div>
        </div>
    </section>
    <footer></footer>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Slick -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/3b144c854e.js" crossorigin="anonymous"></script>
    <script>
        $(".subject").slick({
            dots: false,
            infinite: false,
            speed: 300,
            slidesToShow: 1,
            variableWidth: true,
            adaptiveHeight: true
        });
        $(".classroom").slick({
            dots: false,
            infinite: false,
            speed: 300,
            slidesToShow: 1,
            variableWidth: true,
            adaptiveHeight: true
        });
    </script>
</body>
</html>