<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- slick -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- static -->
    <link rel="stylesheet" href="../../static/stylesheet/auth/css/auth.min.css">
    <title>Login | Book.Share</title>
</head>
<body>
    <header>
        <div class="header-back"></div>
        <div class="container">
            <div class="row">
                <div class="col-5 col-sm-4 offset-lg-1 col-lg-3">
                    <img src="../../static/img/logo.png" alt="" class="logo my-image">
                </div>
                <div class="offset-md-1 col-md-4 offset-lg-2 col-lg-3 offset-xl-4 col-xl-2 add">
                    <a href="">Добавить запись</a>
                </div>
                <div class="offset-2 col-5 offset-sm-4 col-sm-4 offset-md-0 col-md-3 col-xl-2">
                    <span>
                        <a href="">
                            Log in
                        </a>
                        |
                        <a href="">
                            Sign up
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-5 pre-auth">
                    <span>Вы вернулись, мы рады</span>
                    <div class="icon">
                        <img src="../../static/img/book.png" alt="">
                    </div>
                </div>
                <div class="col-1 line">
                    <hr>
                </div>
                <div class="col-12 col-md-7 col-lg-6 auth">
                <span class="title">
                    Вход
                </span>
                    <form action="">
                        <input type="text" placeholder="Почта">
                        <input type="text" placeholder="Пароль">
                        <button class="my-button">Войти</button>
                    </form>
                    <div class="social">
                        <i class="fa fa-vk" title="Войти с помощью ВКонтакте"></i>
                        <i class="fa fa-facebook" title="Войти с помощью Facebook"></i>
                        <i class="fa fa-google" title="Войти с помощью Google+"></i>
                        <i class="fa fa-twitter" title="Войти с помощью Twitter"></i>
                        <i class="fab fa-yandex" title="Войти с помощью Яндекса"></i>
                        <i class="fa fa-odnoklassniki" title="Войти с помощью Одноклассников"></i>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Slick -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/3b144c854e.js" crossorigin="anonymous"></script>
</body>
</html>